.wrapper
{
	padding:5px;
	background-color:#FFEBBA;
	border:1px #FFC900 solid;
	-moz-border-radius: 15px;
	border-radius: 15px;
}

table
{
	background-color:#FFFFFF;
}

.accordion
{
	background-color:#FFFFFF;
}

.contentbox
{
	background-color:#FFFFFF;
	border:1px #E5E5E5 solid;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:10px;
}

.datebox
{
	background-color:#FFFFFF;
	border:1px #E5E5E5 solid;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:10px;
	text-align:center;
}

.datebox:hover
{
	background-color:#AEEEFF;
	cursor:pointer;
}


.home-info
{
	margin-left:-5px;
	margin-top:5px;
	margin-bottom:5px;
}

.center
{
    text-align: center;
}

.bordered
{
    border: 1px #E5E5E5 solid;
    -moz-border-radius: 10px;
    border-radius: 10px;
    padding:10px;
    margin-top: 5px; 
    margin-bottom: 5px;
}
